:root {
    --btn-bg-color: rgb(86, 146, 26);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'segoe ui', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var();
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header Inicio*/
header {

    nav {

        .container-fluid {
            padding: 0 5%;
            display: flex;
            justify-content: space-evenly;

            .navbar-brand {
                font-size: 30px;
                font-weight: 600;
                font-family: 'poppins', sans-serif;
            }

            .collapse {
                flex-grow: 0;

                form {

                    input {
                        padding: 10px 20em 10px 10px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                    }
                }
            }

            .login {
                display: flex;
                gap: 20px;

                a {
                    color: #ffffff;
                    font-size: 18px;
                    font-weight: 500;
                    padding: 10px;
                    border-radius: 5px;
                    background-color: var(--btn-bg-color);
                    transition: 0.3s;

                    &:hover {
                        background-color: rgb(86, 146, 26, 0.8);
                    }
                }
            }
        }
    }
}

main {

    .inicio {
        .carousel {

            h5,p {
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }
            
            img {
                height: 680px;
            }
        }
    }
}